/* write your override styles here */
#wall div{
  display: none !important;
}

#wall div#tag-2{
  display: none !important;
}

div#wall div#tag-3.slick.wicked{
  display: none !important;
}

div#wall div#tag-4{
  display: none !important;
}
